<a href="https://colab.research.google.com/github/valuedriven/dataanalysis/blob/master/exercicio_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- Crie um DataFrame com os nomes, idades, pesos e alturas dos estudantes da turma (Arquivo IMC.csv que está no github na página da disciplina)
- Inclua uma nova coluna no DataFrame contendo o IMC de cada estudante ()
- Salve o DataFrame em um arquivo xlsx e abra no excel para ver o resultado
- Crie um DataFrame contendo apenas nomes e idades
- Crie um DataFrame contendo apenas os 5 estudantes mais altos
- Crie um novo DataFrame ordenado pelo IMC
- Determine quem é o estudante mais alto, quem é o mais novo e a soma dos pesos de todos os estudantes
- Calcule a média e o desvio padrão dos valores de IMC

In [ ]:
import pandas as pd

df = pd.read_csv("IMC.csv",index_col=0)

In [ ]:
df["IMC"] = df["Peso"]/df["Altura"]**2
df

           idade  Peso  Altura        IMC
Nome
Maria         25    50    1.62  19.051974
Telma         27    46    1.65  16.896235
Jéssica       19    55    1.70  19.031142
Sílvia        20    65    1.71  22.229062
Cláudia       19    68    1.70  23.529412
David         21    54    1.73  18.042701
Augusto       16    69    1.78  21.777553
Leandro       19    74    1.80  22.839506
Guilherme     21    60    1.76  19.369835
Paulo         25   115    1.75  37.551020
Vagner        27    72    1.72  24.337480

In [ ]:
df.to_excel("IMC.xlsx")

In [ ]:
df2 = df.loc[:,"idade"]
df2

Nome
Maria        25
Telma        27
Jéssica      19
Sílvia       20
Cláudia      19
David        21
Augusto      16
Leandro      19
Guilherme    21
Paulo        25
Vagner       27
Name: idade, dtype: int64

In [ ]:
df2 = df.loc[:,"idade"]

In [ ]:
df_sort_tall = df.sort_values(by="Altura", ascending=False)
df_sort_tall.head(5)

           idade  Peso  Altura        IMC
Nome
Leandro       19    74    1.80  22.839506
Augusto       16    69    1.78  21.777553
Guilherme     21    60    1.76  19.369835
Paulo         25   115    1.75  37.551020
David         21    54    1.73  18.042701

In [ ]:
df_sort_imc = df.sort_values(by="IMC")
df_sort_imc

           idade  Peso  Altura        IMC
Nome
Telma         27    46    1.65  16.896235
David         21    54    1.73  18.042701
Jéssica       19    55    1.70  19.031142
Maria         25    50    1.62  19.051974
Guilherme     21    60    1.76  19.369835
Augusto       16    69    1.78  21.777553
Sílvia        20    65    1.71  22.229062
Leandro       19    74    1.80  22.839506
Cláudia       19    68    1.70  23.529412
Vagner        27    72    1.72  24.337480
Paulo         25   115    1.75  37.551020

In [ ]:
df["Altura"].idxmax()

'Leandro'

In [ ]:
df["idade"].idxmin()

'Augusto'

In [ ]:
df["Peso"].sum()

728

In [ ]:
df["IMC"].mean()

22.24144725802304

In [ ]:
df["IMC"].std(ddof=1)

5.620800506702645