<a href="https://colab.research.google.com/github/valuedriven/dataanalysis/blob/master/exercicio_pandas_graficos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercício Pandas Gráficos

1. Abra o arquivo consumo_alcool.xlsx de modo que a coluna país seja o índice das linhas (use a função read_excel).
+ Determine o total de consumo de destilados em L/ano para os países listados.
+ Determine a média de consumo de cada tipo de bebida por ano.
+ Determine qual país é maior consumidor de cada tipo de bebida.
+ Faça uma tabela contendo os dados apenas dos países que consomem 100 ou mais litros de cerveja por ano (Use compreensão de listas).
+ Adicione uma coluna à tabela contendo a a porcentagem de consumo de vinho que cada país consome em relação ao total dos países pesquisados.
+ Faça um gráfico de pizza da coluna nova coluna adicionada destacando o consumo da Austrália.
+ Faça um gráfico do consumo dos 3 tipos de bebida versus a expectativa de vida. Dê um título ao gráfico assim como títulos para os eixos e coloque legendas para cada tipo de bebida. Você consegue observar alguma relação linear entre eles?
+ Faça um gráfico do consumo dos 3 tipos de bebida versus a taxa de problemas cardíacos. Dê um título ao gráfico assim como títulos para os eixos e coloque legendas para cada tipo de bebida. Você consegue observar alguma relação linear entre eles?

In [3]:
import pandas as pd
df = pd.read_excel("consumo_alcool.xlsx",index_col=0)
df

,Consumo de destilados (L/ano),Consumo de vinho (L/ano),Consumo de cerveja (L/ano),Expectativa de vida (anos),Taxa de problemas cardíacos (casos/10⁵/ano)
País,,,,,
França,2.5,63.5,40.1,78,61.1
Itália,0.9,58.0,25.1,78,94.1
Suíça,1.7,46.0,65.0,78,106.4
Austrália,1.2,15.7,102.1,78,173.0
Grã Bretanha,1.5,12.2,100.0,77,199.7
Estados unidos,2.0,8.9,87.8,76,176.0
Rússia,3.8,2.7,17.1,69,373.6
República Checa,1.0,1.7,140.0,73,283.7
Japão,2.1,1.0,55.0,79,34.7
México,0.8,0.2,50.4,73,36.4

Determine o total de consumo de destilados em L/ano para os países listados.

In [4]:
destilled_sum = df['Consumo de destilados (L/ano)'].sum()
destilled_sum

17.500000000000004

Determine a média de consumo de cada tipo de bebida por ano.

In [8]:
columns_list = ['Consumo de destilados (L/ano)', 'Consumo de vinho (L/ano)', 'Consumo de cerveja (L/ano)']
mean = df[columns_list].mean()
mean

Consumo de destilados (L/ano)     1.75
Consumo de vinho (L/ano)         20.99
Consumo de cerveja (L/ano)       68.26
dtype: float64

Determine qual país é maior consumidor de cada tipo de bebida.

In [14]:
columns_list = ['Consumo de destilados (L/ano)', 'Consumo de vinho (L/ano)', 'Consumo de cerveja (L/ano)']
consumer_country_max = df[columns_list].idxmax()
consumer_country_max

Consumo de destilados (L/ano)             Rússia
Consumo de vinho (L/ano)                  França
Consumo de cerveja (L/ano)       República Checa
dtype: object

Faça uma tabela contendo os dados apenas dos países que consomem 100 ou mais litros de cerveja por ano (Use compreensão de listas).