<a href="https://colab.research.google.com/github/valuedriven/dataanalysis/blob/master/trabalho_final/trabalho_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Passos requeridos para o trabalho:
- Abrir o conjunto de dados em um DataFrame, 
- Visualizar os dados por meio de gráficos construídos com uma das bibliotecas gráficas vistas na disciplina,
- Utilizar aprendizado de máquina não supervisionado e/ou supervisionado para construir um modelo que seja capaz de prever uma propriedade de interesse.

In [77]:
#https://www.openml.org/

dataset = 'credit-g'
from sklearn.datasets import fetch_openml
risk_dataset = fetch_openml(name=dataset,version='1')
print(risk_dataset.data.shape)

(1000, 20)

In [78]:
print(risk_dataset.DESCR)

**Author**: Dr. Hans Hofmann
**Source**: [UCI](https://archive.ics.uci.edu/ml/datasets/statlog+(german+credit+data)) - 1994
**Please cite**: [UCI](https://archive.ics.uci.edu/ml/citation_policy.html)

**German Credit dataset**
This dataset classifies people described by a set of attributes as good or bad credit risks.

This dataset comes with a cost matrix:
```
Good  Bad (predicted)
Good   0    1   (actual)
Bad    5    0
```

It is worse to class a customer as good when they are bad (5), than it is to class a customer as bad when they are good (1).

### Attribute description

1. Status of the existing checking account, in Deutsche Mark.
2. Duration in months
3. Credit history (credits taken, paid back duly, delays, critical accounts)
4. Purpose of the credit (car, television,...)
5. Credit amount
6. Status of savings account/bonds, in Deutsche Mark.
7. Present employment, in number of years.
8. Installment rate in percentage of disposable income
9. Personal status (married, single,...) and sex
10. Other debtors / guarantors
11. Present residence since X years
12. Property (e.g. real estate)
13. Age in years
14. Other installment plans (banks, stores)
15. Housing (rent, own,...)
16. Number of existing credits at this bank
17. Job
18. Number of people being liable to provide maintenance for
19. Telephone (yes,no)
20. Foreign worker (yes,no)

Downloaded from openml.org.

In [79]:
import pandas as pd
df = pd.DataFrame(risk_dataset.data)
df.columns = risk_dataset.feature_names
df

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,residence_since,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker
0,<0,6.0,critical/other existing credit,radio/tv,1169.0,no known savings,>=7,4.0,male single,none,4.0,real estate,67.0,none,own,2.0,skilled,1.0,yes,yes
1,0<=X<200,48.0,existing paid,radio/tv,5951.0,<100,1<=X<4,2.0,female div/dep/mar,none,2.0,real estate,22.0,none,own,1.0,skilled,1.0,none,yes
2,no checking,12.0,critical/other existing credit,education,2096.0,<100,4<=X<7,2.0,male single,none,3.0,real estate,49.0,none,own,1.0,unskilled resident,2.0,none,yes
3,<0,42.0,existing paid,furniture/equipment,7882.0,<100,4<=X<7,2.0,male single,guarantor,4.0,life insurance,45.0,none,for free,1.0,skilled,2.0,none,yes
4,<0,24.0,delayed previously,new car,4870.0,<100,1<=X<4,3.0,male single,none,4.0,no known property,53.0,none,for free,2.0,skilled,2.0,none,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,no checking,12.0,existing paid,furniture/equipment,1736.0,<100,4<=X<7,3.0,female div/dep/mar,none,4.0,real estate,31.0,none,own,1.0,unskilled resident,1.0,none,yes
996,<0,30.0,existing paid,used car,3857.0,<100,1<=X<4,4.0,male div/sep,none,4.0,life insurance,40.0,none,own,1.0,high qualif/self emp/mgmt,1.0,yes,yes
997,no checking,12.0,existing paid,radio/tv,804.0,<100,>=7,4.0,male single,none,4.0,car,38.0,none,own,1.0,skilled,1.0,none,yes
998,<0,45.0,existing paid,radio/tv,1845.0,<100,1<=X<4,4.0,male single,none,4.0,no known property,23.0,none,for free,1.0,skilled,1.0,yes,yes
999,0<=X<200,45.0,critical/other existing credit,used car,4576.0,100<=X<500,unemployed,3.0,male single,none,4.0,car,27.0,none,own,1.0,skilled,1.0,none,yes

In [ ]:
# Converter target para valores numéricos

from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
# categories = risk_dataset.target.unique()
# encoder.fit(categories)
target = encoder.fit_transform(risk_dataset.target)
target

In [97]:
# Converter features para valores numéricos

from sklearn.preprocessing import OrdinalEncoder
encoder = OrdinalEncoder()
data = encoder.fit_transform(risk_dataset.data)
data

array([[ 1.,  2.,  1., ...,  0.,  1.,  1.],
       [ 0., 29.,  3., ...,  0.,  0.,  1.],
       [ 3.,  8.,  1., ...,  1.,  0.,  1.],
       ...,
       [ 3.,  8.,  3., ...,  0.,  0.,  1.],
       [ 1., 27.,  3., ...,  0.,  1.,  1.],
       [ 0., 27.,  1., ...,  0.,  0.,  1.]])

In [98]:
df = pd.DataFrame(data)
df.columns = risk_dataset.feature_names
df

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,residence_since,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker
0,1.0,2.0,1.0,6.0,142.0,4.0,3.0,3.0,3.0,2.0,3.0,3.0,48.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0
1,0.0,29.0,3.0,6.0,770.0,2.0,0.0,1.0,0.0,2.0,1.0,3.0,3.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0
2,3.0,8.0,1.0,2.0,390.0,2.0,1.0,1.0,3.0,2.0,2.0,3.0,30.0,1.0,1.0,0.0,3.0,1.0,0.0,1.0
3,1.0,26.0,3.0,3.0,848.0,2.0,1.0,1.0,3.0,1.0,3.0,1.0,26.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0
4,1.0,17.0,2.0,4.0,734.0,2.0,0.0,2.0,3.0,2.0,3.0,2.0,34.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3.0,8.0,3.0,3.0,310.0,2.0,1.0,2.0,0.0,2.0,3.0,3.0,12.0,1.0,1.0,0.0,3.0,0.0,0.0,1.0
996,1.0,21.0,3.0,9.0,661.0,2.0,0.0,3.0,1.0,2.0,3.0,1.0,21.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0
997,3.0,8.0,3.0,6.0,69.0,2.0,3.0,3.0,3.0,2.0,3.0,0.0,19.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0
998,1.0,27.0,3.0,6.0,332.0,2.0,0.0,3.0,3.0,2.0,3.0,2.0,4.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0
999,0.0,27.0,1.0,9.0,711.0,0.0,4.0,2.0,3.0,2.0,3.0,0.0,8.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0

In [100]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV

clf = KNeighborsClassifier(n_neighbors=5)
# knn = GridSearchCV(clf,{'n_neighbors':range(1,9)},cv=30)
knn = GridSearchCV(clf,{'n_neighbors':range(1,9)})
knn.fit(data,target)
print(knn.score(data,target))
print(knn.best_params_)

0.752
{'n_neighbors': 7}

In [101]:
clf = KNeighborsClassifier(n_neighbors=7)
clf.fit(data,target)
print(clf.score(data,target))
print(clf.predict_proba(data))

0.752
[[0.28571429 0.71428571]
 [0.42857143 0.57142857]
 [0.14285714 0.85714286]
 ...
 [0.42857143 0.57142857]
 [0.85714286 0.14285714]
 [0.42857143 0.57142857]]